BeautifulSoup==3.2.1
Django==1.3.1
Fabric==1.4.3
South==0.7.6
boto==2.5.2
distribute==0.6.15
django-analytical==0.12.1
django-annoying==0.7.6
django-appconf==0.5
django-compressor==1.2
django-extensions==0.9
django-selector==0.3
django-ses==0.4.1
django-staticfiles==1.2.1
django-storages==1.1.5
dj_database_url==0.2.1
dotcloud.cli==0.4.0
fuzzywuzzy==0.1
gunicorn==19.5.0
lettuce==0.2.6
lxml==2.3.5
mechanize==0.2.5
newrelic==1.5.0.103
nose==1.1.2
oauth==1.0.1
prettytable==0.5
psycopg2==2.4.5
pycrypto==2.6
pyflakes==0.4.0
python-googleanalytics==1.0.2
pytz==2012d
requests==0.13.8
salad==0.4.5
selenium==2.25.0
simplejson==2.6.1
splinter==0.4.7
ssh==1.7.14
sure==0.10.4
versiontools==1.9.1
virtualenv==1.6.1
virtualenvwrapper==2.7.1
wsgiref==0.1.2
zope.event==4.0.0
zope.interface==4.0.1
zope.schema==4.2.0
zope.testbrowser==4.0.2
