boto
BeautifulSoup<4.0
django
django-analytical>=0.12.1
django-annoying
django_compressor
django-extensions
django-selector
django-staticfiles
django-storages
django-ses
dj_database_url
fabric
gunicorn
lxml
newrelic
oauth
psycopg2
requests
salad
simplejson
south
versiontools