body {
	background-color: #F2F2F2;
}
p {
	display: inline;
}
#status {
	position: fixed;
	top: 0px;
	left: 10%;
	width: 80%;
}
form table {
	width: 100%;
}
form table td, form table  input {
	width: 50px;
	text-align: center;
}
.emotions li {
	float: left;
	list-style: none;
	text-indent: 0px;
	margin: 5px;
}
.emotions ul {
	margin: 0px;
	padding: 0px;
}
form .section.num_beers {
	display: block;
	overflow: auto;
	padding: 10px 0px 0px 0px;
}
#id_number_of_sleep_beers, #id_number_of_fun_beers {
	width: 50px;
}
.beer_type, .beer_type_label {
	float: left;
	text-align: center;
	padding: 5px;
}
.beer_type input {
	text-align: center;
}
.beer_type_label {
	text-align: right;
	padding-top: 10px;
}
.date.header {
	width: 100%;
	text-align: center;
	font-size: 30px;
	padding: 10px 0px 20px 0px;
	color: #777;
}
.status_label {
	padding: 0px;
	margin: 0px;
	border-radius: 4px;
	
}
.section.checkboxes:hover .status_label {
	opacity: 1;
}
.status_label.red {
	color: #FFF;
	background-color: #D00;

}
.status_label.yellow {
	color: #650;
	background-color: #FFEE88;
}
.status_label.green {
	color: #009944;
	background-color: #AAFFAA;
}

.daily_form {
	padding: 20px 2%;
	margin: 0px 1%;
	width: 44%;
	float: left;
	border: 1px solid #DDD;
	background: #FFF;
}
.hours .total {
	padding: 7px 0px 4px 0px;
	font-size: 12px;
	color: #EEE;
}
.hours .sleep .number {
	padding: 7px 0px 4px 0px;
	font-size: 13px;
	color: #555;
}
form .section {
	padding: 10px 0px;
}
.section.notes {

	float: right;
}
.timeEntry_control {
	display: none;
}
form .sleep_field input {
	width: 60px;
}
.monthly .averages {
	float: right;
	width: 20%;
	text-align: left;
	margin-top: 100px;
}

header {
	padding: 0px;
	margin: 0px auto;
	width: 96%;
}
header a, header a:visited, header a:hover {
	display: inline-block;
	padding: 10px 5px 5px 5px;
	color: #888;
	text-decoration: none;
}